@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
