@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.translate-x-full {
  /* transform: translateX(100%); */
  position: fixed;
  right: -100px;
  transition: 0.5s;
}

.translate-x-0 {
  position: fixed;
  right: 0px;
  transition: 0.5s;
  z-index: 10;
}
